  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    body {
      font-size: 16px;
    } 
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    body {
      font-size: 12px;
    }

  }

  /*acá estoy aplicando que para abajo del 481px, que aplique los siguientes formatos pero por alguna razón pareciera que no se aplican; por ejemplo el font-size del body debería ser de 10 px pero el navegador no aplica este cambio.*/
  
  @media (min-width: 100px) and (max-width: 480) {
    
    body {
      font-size: 10px;
    }
    .contactoboton,.volverboton{
        font-size: 0.8 em;
    }

    header h1 {
      font-size: 1.5em;
      text-align: center;
    }
    
    h2 {
      font-size: 1.3em;
    }
  }
   
  /* 
    nav-barr column
  */
  
  @media (min-width: 100px) and (max-width: 380px) {
    .flex-container-nav {
      flex-direction: column;
    }
  }