/*pseudo-clases y elementos*/

/*pseudo-clases :*/

.contactoboton:hover{
    background-color: rgb(255, 196, 0);
    color: rgba(0, 0, 0, 0.603);
    font: bold;
    transform:scale(1);
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
}

.botonsubir:hover{
    background-color: rgb(255, 196, 0);
    color: rgba(0, 0, 0, 0.603);
}

.botonform:hover {
    background-color: rgb(255, 196, 0);
    color: rgba(0, 0, 0, 0.603);

}

section img:hover {
    filter: grayscale(4);
    opacity: .3;
    transition: ease-out;
    transform: scale(0.9);
    -webkit-transition: ease-out;
    -moz-transition: ease-out;
    -ms-transition: ease-out;
    -o-transition: ease-out;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    -webkit-filter: grayscale(4);
}

footer i:hover {
    transition: ease-in-out;
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    -o-transition: ease-in-out;
} 

nav li:hover {
    transition: ease-in-out;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transition: ease-in-out;
    -moz-transition: ease-in-out;
    -ms-transition: ease-in-out;
    -o-transition: ease-in-out;
}

form input:focus {
    border: 1px solid rgba(0, 111, 175, 0.966);
    margin-top: 4%;
    transition: all o.3s ease;
    -webkit-transition: all o.3s ease;
    -moz-transition: all o.3s ease;
    -ms-transition: all o.3s ease;
    -o-transition: all o.3s ease;
}

form input:focus::placeholder {
    color: rgba(2, 51, 80, 0.733);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

form textarea:focus {
    border: 1px solid rgba(0, 111, 175, 0.966);
    margin-top: 4%;
    transition: all 0.3s ease;;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}